#AdminHome-Screen-Description-DocumentButton {
  position: absolute;
  left: 20px;
  
  font-size: 15px;
}

#AdminHome-Screen-Description-UsageStatsButton {
  position: absolute;
  left: 200px;
  
  font-size: 15px;
}

#AdminHome-Screen-Description-LogoutButton {
  position: absolute;
  right: 20px;
  
  font-size: 15px;
}

#AdminHome-Screen-AdminInfo {
  text-align: center;
}

#AdminHome-Screen-AdminInfo-BoatRentals,
#AdminHome-Screen-AdminInfo-RentalInfo,
#AdminHome-Screen-AdminInfo-Actions {
  height: 360px;
}

#AdminHome-Screen-AdminInfo-BoatRentals {
  margin-left: 50px;
  margin-right: 50px;
}

#AdminHome-Screen-AdminInfo-RentalInfo {
  width: 350px;
  margin-right: 50px;
}

#AdminHome-Screen-AdminInfo-Actions {
  width: 200px;
}

#AdminHome-Screen-AdminInfo-RentalInfo-Details-Date-Label,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Time-Label,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Duration-Label,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Location-Label,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Boat-Label,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Reservation-Label,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-SafetyTest-Label,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Status-Label {
  display: inline-block;
  
  width: 100px;
  margin-right: 50px;
}

#AdminHome-Screen-AdminInfo-RentalInfo-Details-Date-Value,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Time-Value,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Duration-Value,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Location-Value,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Boat-Value,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Reservation-Value,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-SafetyTest-Value,
#AdminHome-Screen-AdminInfo-RentalInfo-Details-Status-Complete {
  display: inline-block;
  
  font-weight: bold;
}

#AdminHome-Screen-AdminInfo-Actions-Details-DepositButton,
#AdminHome-Screen-AdminInfo-Actions-Details-CompleteButton,
#AdminHome-Screen-AdminInfo-Actions-Details-SettleButton,
#AdminHome-Screen-AdminInfo-Actions-Details-CancelButton {
  width: 100%;
  margin-top: 20px;
}

#AdminHome-Screen-AdminInfo-Actions-Details-CancelButton {
  font-size: 15px;
  margin-top: 100px;
}