#AdminCompletion-Screen-ReservationSummary-Reservation-Title,
#AdminCompletion-Screen-ReservationSummary-Name-Title,
#AdminCompletion-Screen-ReservationSummary-Boat-Title,
#AdminCompletion-Screen-ReservationSummary-Deposit-Title,
#AdminCompletion-Screen-TotalRefund-Label {
  display: inline-block;
  width: 450px;
}
#AdminCompletion-Screen-ReservationSummary-Reservation-Value,
#AdminCompletion-Screen-ReservationSummary-Name-Value,
#AdminCompletion-Screen-ReservationSummary-Boat-Value,
#AdminCompletion-Screen-ReservationSummary-Deposit-Value,
#AdminCompletion-Screen-TotalRefund-Value
{
  display: inline-block;
  width: 200px;

  font-weight: bold;
}


#AdminCompletion-Screen-FuelUsage-Label,
#AdminCompletion-Screen-AccidentStatus-Label,
#AdminCompletion-Screen-TotalRefund-Label
{
  display: inline-block;
  margin-right: 20px;
  
  font-weight: bold;
}

#AdminCompletion-Screen-FuelUsage-Input,
#AdminCompletion-Screen-AccidentStatus-Input
{
  display: inline-block;
  width: 100px;
  
  margin-right: 50px;
  margin-bottom: 5px;
  
  font-size: 20px;
  font-weight: bold;
}
#AdminCompletion-Screen-FuelUsage-Input {
  width: 200px;
}

#AdminCompletion-Screen-AccidentDescription {
  display: inline-block;
  height: 6em;
  width: 50em;
  vertical-align: top;
  
  margin-bottom: 5px;
}
