#BookingTime-Screen-SelectionPanel {
  white-space: nowrap;
  text-align: center;
}

#BookingTime-Screen-SelectionPanel-TimeFrame {
  margin-left: 50px;
  margin-right: 50px;
}

#BookingTime-Screen-SelectionPanel-Calendar {
  display: inline-block;
}


