<link rel="stylesheet" href="screens/booking_complete.css">
<script src="screens/booking_complete.js"></script>
<script src="screens/screen_utils.js"></script>

<script>
  {{if .Reservation}}
    {{if eq .Reservation.OwnerAccountId ""}}
      BookingComplete.reservationId = "{{.Reservation.Id}}";
    {{end}}
  {{end}}
</script>

<div class="screen-description">
  Congratulations! Your Reservation Has Been Placed.
</div>
<div id="BookingComplete-Screen" class="screen" onshow="BookingComplete.onLoad()">
  <div id="BookingComplete-Screen-ReservationSummary" class="info-box">
    <div>
      Your confirmation number for this reservation is <a href="#reservation_update?id={{.Reservation.Id}}">{{.Reservation.Id}}</a>.
      <br>
      An email has been sent to <b>{{.Reservation.Email}}</b>. This email will contain the details regarding your reservation including this reservation id.
      <br>
      <br>
      If you do not receive an email, or would like your reservation details sent to another email address, please enter the secondary email address in the box below, and click on the  <b>Send</b> button.
    </div>
    <form id="BookingComplete-Screen-ReservationSummary-Email" class="info-box-row" action="">
      <div id="BookingComplete-Screen-ReservationSummary-Email-Label">Email:</div>
      <input type="email" name="email" id="BookingComplete-Screen-ReservationSummary-Email-Input" class="input-field" required>
      <input type="submit" id="BookingComplete-Screen-ReservationSummary-Email-SendButton" class="standard-button" value="Send" />
    </form>
  </div>  
  <div id="BookingComplete-Screen-Cancellation" class="info-box">
    If you find it necesesary to cancel your reservation, please go to <a href="javascript:Main.loadScreen('reservation_retrieval');">My Reservation</a>, and use your confirmation number to access the reservation.
    <br>
    You can also use the link in the confirmation email.
  </div>
  <div id="BookingComplete-Screen-SafetyTest" class="info-box">
    <a href="#safety_tips" id="BookingComplete-Screen-SafetyTest-Title">Mandatory Safety Test</a>
    GA State law <b>requires</b> all boaters to take a safety training course and pass the exam in order to be allowed to operate a motor boat.
    <br>
    {{if eq (len .SafetyTestResults) 0}}
      Our records indicate that you don't have any drivers on this reservation who took the course and passed the exam yet. Use <a href="#safety_tips">Safety Test</a> link to take the test.
      <br>
      You will have to take the test if you haven't taken it. The certification is valid for 180 days and then have to be re-taken.
      <br>
      You will be required to pass it before you can operate a motor boat.
      <br>
      You can access this link later by going to <a href="javascript:Main.loadScreen('reservation_retrieval');">My Reservation</a> and pulling your reservation.
      <br>
      The link is also included in the reservation confirmation email that was sent to you.    
    {{else}}
      Our records indicate that you have at least one driver on this reservation who passed the safety test. You are good to go!
      <br>
      If, however, you would like to retake the test or add more drivers, please use this <a href="#safety_tips">Safety Test</a> link to take the test.
    {{end}}
  </div>
  <div id="BookingComplete-Screen-Paperwork" class="info-box">
    <a href="#safety_tips" id="BookingComplete-Screen-Paperwork-Title">Before You Arrive</a>
    Please review the most important <a href="files/docs/boat_rental_policies.html" target="_blank">Rental Policies</a>.
    <br>
    <br>
    In order to speed up your boarding process, please print and fill out <a href="files/docs/boat_rental_agreement_{{.Reservation.BoatId}}.pdf" target="_blank">Boat Rental Agreement</a> and <a href="files/docs/boat_rental_waiver.pdf" target="_blank">Release Of Liability Agreement</a> and bring them with you.
    <br>
    We will need to have these forms completed and signed before you can take off. It will greatly save your time if you fill them out in a comfort of your home and will let you spend more time enjoying the lake.
    <br>
    <br>
    The links to these important forms are also provided in the confirmation email that we sent you.
  </div>
</div>
