#BookingLocation-Screen {
	height: 100%;
}

#BookingLocation-Screen-SelectionPanel {
  position: relative;
  width: 100%;
  height: 500px;
}

#BookingLocation-Screen-SelectionPanel-LocationMap {
  width: 100%;
  height: 100%;
}

#BookingLocation-Screen-SelectionPanel-CenterButton {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;

  cursor: pointer;

  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: grey;

  background-color: white;
  background-image: url(../imgs/center.png);
  background-size: cover;
}
#BookingLocation-Screen-SelectionPanel-CenterButton:hover {
	background-color: rgb(234, 237, 237);
}
