#BookingPayment-Screen-ReservationSummary-Location,
#BookingPayment-Screen-ReservationSummary-Price {
  margin-top: 10px;
}

#BookingPayment-Screen-ReservationSummary-DateTime-Title,
#BookingPayment-Screen-ReservationSummary-Duration-Title,
#BookingPayment-Screen-ReservationSummary-Group-Title,
#BookingPayment-Screen-ReservationSummary-Extras-Title,
#BookingPayment-Screen-ReservationSummary-Price-Title {
  display: inline-block;
  width: 450px;
}
#BookingPayment-Screen-ReservationSummary-DateTime-Value,
#BookingPayment-Screen-ReservationSummary-Duration-Value,
#BookingPayment-Screen-ReservationSummary-Group-Value,
#BookingPayment-Screen-ReservationSummary-Extras-Value,
#BookingPayment-Screen-ReservationSummary-Price-Value {
  display: inline-block;
  width: 200px;

  font-weight: bold;
}

#BookingPayment-Screen-ReservationSummary-Location-Details-PlaceName-Title,
#BookingPayment-Screen-ReservationSummary-Location-Details-PlaceAddress-Title,
#BookingPayment-Screen-ReservationSummary-Location-Details-ParkingFee-Title,
#BookingPayment-Screen-ReservationSummary-Location-Details-PickupInstructions-Title
{
  display: inline-block;
  width: 430px;
  margin-left: 20px;
}
#BookingPayment-Screen-ReservationSummary-Location-Details-PlaceName-Value,
#BookingPayment-Screen-ReservationSummary-Location-Details-PlaceAddress-Value,
#BookingPayment-Screen-ReservationSummary-Location-Details-ParkingFee-Value,
#BookingPayment-Screen-ReservationSummary-Location-Details-PickupInstructions-Value {
  display: inline-block;
  width: 300px;

  font-weight: bold;
}


#BookingPayment-Screen-PaymentInformation-Address-Street,
#BookingPayment-Screen-PaymentInformation-Address-Additional,
#BookingPayment-Screen-PaymentInformation-Area-City,
#BookingPayment-Screen-PaymentInformation-Area-State
{
  display: inline-block;
}


#BookingPayment-Screen-PaymentInformation-Name-Label,
#BookingPayment-Screen-PaymentInformation-Address-Street-Label,
#BookingPayment-Screen-PaymentInformation-Address-Additional-Label,
#BookingPayment-Screen-PaymentInformation-Area-City-Label,
#BookingPayment-Screen-PaymentInformation-Area-State-Label,
#BookingPayment-Screen-PaymentInformation-CreditCard-Label
{
  display: inline-block;
  margin-right: 20px;
  
  font-weight: bold;
}
#BookingPayment-Screen-PaymentInformation-Address-Additional-Label {
  font-weight: normal;
}

#BookingPayment-Screen-PaymentInformation-Name-Input,
#BookingPayment-Screen-PaymentInformation-Address-Street-Input,
#BookingPayment-Screen-PaymentInformation-Address-Additional-Input,
#BookingPayment-Screen-PaymentInformation-Area-City-Input,
#BookingPayment-Screen-PaymentInformation-CreditCard-Input
{
  display: inline-block;
  width: 300px;
  
  margin-right: 50px;
  margin-bottom: 5px;
}


#BookingPayment-Screen-PaymentInformation-Name-Input {
  width: 400px;
}

#BookingPayment-Screen-PaymentInformation-Address-Additional-Input {
  width: 280px;
}

#BookingPayment-Screen-PaymentInformation-Area-State-Input {
  width: 150px;
}

#BookingPayment-Screen-PaymentInformation {
  margin-top: 30px;
}

#BookingPayment-Screen-PaymentInformation-CreditCard {
  margin-top: 20px;
}

#BookingPayment-Screen-PaymentInformation-CreditCard-Input {
  display: inline-block;
  width: 400px;
  padding: 3px 3px 3px 5px;
  margin-right: 10px;
  
  border-style: solid;
  border-color: azure;
  border-width: 2px;
  border-radius: 5px;

  vertical-align: middle;

  background-color: white;
}

#BookingPayment-Screen-PaymentInformation-CreditCard-Status {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 20px;

  vertical-align: middle;
  color: red;
}

#BookingPayment-Screen-PaymentInformation-CreditCard-Note {
  margin-top: 10px;
  margin-left: 10px;

  font-size: 12px;
}


#BookingPayment-Screen-Description-ConfirmButton {
  background-image: none;
  padding-right: 20px;
}

#BookingPayment-Screen-CancellationPolicy {
  text-align: center;
}