<link rel="stylesheet" href="screens/booking_complete.css">
<script src="screens/booking_complete.js"></script>
<script src="screens/screen_utils.js"></script>

<script>
  {{if .Reservation}}
    {{if eq .Reservation.OwnerAccountId ""}}
      BookingComplete.reservationId = "{{.Reservation.Id}}";
    {{end}}
  {{end}}
  
  $(document).ready(function() {
    BookingComplete.onLoad();
  });
</script>

<div id="BookingComplete-Screen-Description" class="screen-description info-box">
  Your reservation is successfully placed
</div>
<div id="BookingComplete-Screen" class="screen">
  <div id="BookingComplete-Screen-ReservationSummary" class="info-box">
    <div>
      Your reservation has been placed, your confirmation number is <a href="#reservation_update?id={{.Reservation.Id}}">{{.Reservation.Id}}</a>.
      <br>
      You will soon be receiving an email at <b>{{.Reservation.Email}}</b> which contains this confirmation number and details regarding your reservation.
      <br>
      <br>
      If you do not receive an email, or would like your reservation details sent to another email address, please enter the secondary email address in the box below, and click on the  <b>Send</b> button.
    </div>
    <div id="BookingComplete-Screen-ReservationSummary-Email" class="info-box-row">
      <div id="BookingComplete-Screen-ReservationSummary-Email-Label">Email:</div>
      <input type="text" id="BookingComplete-Screen-ReservationSummary-Email-Input">
      <button id="BookingComplete-Screen-ReservationSummary-Email-SendButton" class="standard-button">Send</button>
    </div>
  </div>  
  <div id="BookingComplete-Screen-Cancellation" class="info-box">
    If you find it necesesary to cancel your reservation, please go to <a href="javascript:Main.loadScreen('reservation_retrieval');">My Reservation</a>, and use your confirmation number to access the reservation. You can also use the link in the confirmation email.
    <br>
    <br>
    You can cancel your reservation without penalty 48 hours before the reservation date. After that, cancellation fees will apply.
  </div>
  <div id="BookingComplete-Screen-SafetyTest" class="info-box">
    GA State law requires all boaters to take a safety training course and pass the exam in order to be allowed to operate a motor boat.
    <br>
    {{if .SafetyTestStatus}}
      Our records indicate that you have passed a safery test that is still valid. You are good to go!
      <br>
      However, if can still retake it if you would like. Use this <a href="#safety_test">link</a> to take the test.
    {{else}}
      Our records indicate that you haven't taken/passed the course and exam yet. Use <a href="#safety_test">Safety Test</a> link to take the test.
      <br>
      You will have to take the test if you haven't taken it. The certification usually valid for 180 days and then have to be re-taken.
      <br>
      You will be required to pass it before you can operate a motor boat.
      <br>
      You can access this link later by going to <a href="javascript:Main.loadScreen('reservation_retrieval');">My Reservation</a> and pulling your reservation.
      <br>
      The link is also included in the reservation confirmation email that was sent to you.    
    {{end}}
  </div>
</div>
