#BookingTime-Screen-SelectionContainer {
  text-align: center;
}

#BookingTime-Screen-SelectionPanel {
  margin-top: 20px;
  padding: 20px;
  overflow: auto;
  white-space: nowrap;
}

#BookingTime-Screen-SelectionPanel-TimeFrame {
  margin-left: 50px;
  margin-right: 50px;
}

#BookingTime-Screen-SelectionPanel-Calendar {
  display: inline-block;
}


