#BookingConfirmation-Screen-AdditionalInformation {
  margin-top: 20px;
  padding: 10px 30px 10px 30px;

  font-size: 20px;
}

#BookingConfirmation-Screen-AdditionalInformation-NumberOfPeople {
  white-space: nowrap;
  padding-bottom: 5px;
}
#BookingConfirmation-Screen-AdditionalInformation-NumberOfPeople-Title {
  display: inline-block;
  width: 200px;
  margin-right: 20px;

  vertical-align: middle;
}
#BookingConfirmation-Screen-AdditionalInformation-NumberOfPeople-Adults {
  display: inline-block;
  margin-right: 20px;

  vertical-align: middle;

  font-size: 15px;
}
#BookingConfirmation-Screen-AdditionalInformation-NumberOfPeople-Adults-Title {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;

  font-size: 17px;
}
#BookingConfirmation-Screen-AdditionalInformation-NumberOfPeople-Adults-Selector {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  font: inherit;
}
#BookingConfirmation-Screen-AdditionalInformation-NumberOfPeople-Children {
  display: inline-block;

  vertical-align: middle;

  font-size: 15px;
}
#BookingConfirmation-Screen-AdditionalInformation-NumberOfPeople-Children-Title {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;

  font-size: 17px;
}
#BookingConfirmation-Screen-AdditionalInformation-NumberOfPeople-Children-Selector {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  font: inherit;
}

#BookingConfirmation-Screen-AdditionalInformation-Phone {
  margin-top: 20px;
  white-space: nowrap;
}
#BookingConfirmation-Screen-AdditionalInformation-Phone-Title {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
}
#BookingConfirmation-Screen-AdditionalInformation-Phone-Value {
  display: inline-block;
  padding: 5px;

  font-family: monospace;
  font-size: 15px;
}
#BookingConfirmation-Screen-AdditionalInformation-Phone-DoNotProvide {
  font-size: 15px;
}
#BookingConfirmation-Screen-AdditionalInformation-Phone-DoNotProvide-Checkbox {
}

#BookingConfirmation-Screen-AdditionalInformation-Note {
  margin-top: 10px;
  margin-left: 10px;

  font-size: 12px;
}



#BookingConfirmation-Screen-ReservationSummary {
  margin-top: 20px;
}

#BookingConfirmation-Screen-ReservationSummary-Location,
#BookingConfirmation-Screen-ReservationSummary-Price {
  margin-top: 10px;
}

#BookingConfirmation-Screen-ReservationSummary-DateTime-Title,
#BookingConfirmation-Screen-ReservationSummary-Duration-Title,
#BookingConfirmation-Screen-ReservationSummary-Capacity-Title,
#BookingConfirmation-Screen-ReservationSummary-Price-Title {
  display: inline-block;
  width: 450px;
}
#BookingConfirmation-Screen-ReservationSummary-DateTime-Value,
#BookingConfirmation-Screen-ReservationSummary-Duration-Value,
#BookingConfirmation-Screen-ReservationSummary-Capacity-Value,
#BookingConfirmation-Screen-ReservationSummary-Price-Value {
  display: inline-block;
  width: 200px;

  font-weight: bold;
}

#BookingConfirmation-Screen-ReservationSummary-Location-Details-PlaceName-Title,
#BookingConfirmation-Screen-ReservationSummary-Location-Details-PlaceAddress-Title,
#BookingConfirmation-Screen-ReservationSummary-Location-Details-ParkingFee-Title,
#BookingConfirmation-Screen-ReservationSummary-Location-Details-PickupInstructions-Title
{
  display: inline-block;
  width: 430px;
  margin-left: 20px;
}
#BookingConfirmation-Screen-ReservationSummary-Location-Details-PlaceName-Value,
#BookingConfirmation-Screen-ReservationSummary-Location-Details-PlaceAddress-Value,
#BookingConfirmation-Screen-ReservationSummary-Location-Details-ParkingFee-Value,
#BookingConfirmation-Screen-ReservationSummary-Location-Details-PickupInstructions-Value {
  display: inline-block;
  width: 300px;

  font-weight: bold;
}
