#BookingTime-Screen {
  height: 100%;
  min-width: 1100px;
}

#BookingTime-Screen-Description {
}

#BookingTime-Screen-SelectionPanel {
}

#BookingTime-Screen-SelectionPanel-Calendar {
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;

  vertical-align: top;
}

#BookingTime-Screen-SelectionPanel-TimeFrame, #BookingTime-Screen-SelectionPanel-Duration {
  display: inline-block;
  height: 230px;
  margin-top: 50px;
  margin-left: 50px;

  padding: 5px;
  vertical-align: top;

  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #dddddd;

  background: #eeeeee;
  opacity: 50%;
}
#BookingTime-Screen-SelectionPanel-TimeFrame {
  width: calc(100% - 850px);
}
#BookingTime-Screen-SelectionPanel-Duration {
  width: 280px;
}

#BookingTime-Screen-SelectionPanel-TimeFrame-Title, #BookingTime-Screen-SelectionPanel-Duration-Title {
  height: 39px;
  line-height: 39px;
  text-align: center;

  font-family: Trebuchet MS;
  font-weight: bold;
  font-size: 1.1em;

  border-width: 1px;
  border-style: solid;
  border-color: #e78f08;
  border-radius: 5px;

  color: white;
  background-color: #f6a828;
}

#BookingTime-Screen-SelectionPanel-TimeFrame-Times, #BookingTime-Screen-SelectionPanel-Duration-Durations {
  padding: 10px;
}


.bookingtime-time-interval, .bookingtime-duration {
  line-height: 30px;

  font-family: Trebuchet MS;
  font-weight: bold;
  font-size: 1.1em;

  color: #1c94c4;

  cursor: pointer;
}
.bookingtime-time-interval.selected, .bookingtime-duration.selected {
  color: #eb8f00;
}

#BookingTime-Screen-ReservationSummary {
}
