#BookingBoat-Screen-SelectionContainer {
  text-align: center;
}

#BookingBoat-Screen-SelectionPanel {
  margin-top: 20px;
  padding: 20px;
  overflow: auto;
  white-space: nowrap;
}

#BookingBoat-Screen-SelectionPanel-Boats,
#BookingBoat-Screen-SelectionPanel-BoatDescription,
#BookingBoat-Screen-SelectionPanel-BoatPictures {
  display: inline-block;
  height: 240px;
  width: 270px;
  padding: 5px;
  margin-left: 50px;

  vertical-align: top;
  
  text-align: left;

  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #dddddd;

  background: #eeeeee;
}

#BookingBoat-Screen-SelectionPanel-Boats-Title,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Title,
#BookingBoat-Screen-SelectionPanel-BoatPictures-Title {
  height: 39px;
  line-height: 39px;
  text-align: center;

  font-family: Trebuchet MS;
  font-weight: bold;
  font-size: 1.1em;

  border-width: 1px;
  border-style: solid;
  border-color: #e78f08;
  border-radius: 5px;

  color: white;
  background-color: #f6a828;
}

#BookingBoat-Screen-SelectionPanel-BoatPictures-Title {
  position: relative;
}

#BookingBoat-Screen-SelectionPanel-Boats-Options,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details {
  padding: 10px;
}

#BookingBoat-Screen-SelectionPanel-BoatPictures-Picture {
  width: 100%;
  height: 150px;
  margin-top: 5px;
}

#BookingBoat-Screen-SelectionPanel-BoatPictures-Title-PreviousButton,
#BookingBoat-Screen-SelectionPanel-BoatPictures-Title-NextButton {
  top: 5px;
  padding: 0px;
  min-width: 35px;
}
#BookingBoat-Screen-SelectionPanel-BoatPictures-Title-PreviousButton {
  left: 10px;
}
#BookingBoat-Screen-SelectionPanel-BoatPictures-Title-NextButton {
  right: 10px;
}

#BookingBoat-Screen-SelectionPanel-BoatPictures-Note {
  height: 35px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  
  white-space: normal;
  overflow: hidden;
  
  font-size: 15px;
}

.bookingboat-option {
  line-height: 30px;

  font-family: Verdana;
  font-weight: bold;
  font-size: 1.1em;

  color: #1c94c4;

  cursor: pointer;
}
.bookingboat-option.selected {
  color: #eb8f00;
}


#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Name-Label,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Type-Label,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Capacity-Label,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Mileage-Label,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Engine-Label {
  display: inline-block;
  
  width: 100px;
  margin-right: 50px;
}

#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Name-Value,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Type-Value,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Capacity-Value,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Mileage-Value,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Engine-Value {
  display: inline-block;
  
  font-weight: bold;
}
