#BookingPayment-Screen-ReservationSummary-Payment {
  display: inline-block;
  margin-right: 100px;
  vertical-align: middle;
}
#BookingPayment-Screen-ReservationSummary-Payment-Label {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
  font-size: 25px;
}
#BookingPayment-Screen-ReservationSummary-Payment-Details {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  font-weight: bold;
  
  text-align: left;
}

#BookingPayment-Screen-ReservationSummary-Booking {
  display: inline-block;
  vertical-align: middle;
}



#BookingPayment-Screen-ContactInformation-Name-FirstName,
#BookingPayment-Screen-ContactInformation-Name-LastName,
#BookingPayment-Screen-ContactInformation-Contact-Email,
#BookingPayment-Screen-ContactInformation-Contact-CellPhone,
#BookingPayment-Screen-ContactInformation-Contact-AlternativePhone,
#BookingPayment-Screen-PaymentInformation-Address-Street,
#BookingPayment-Screen-PaymentInformation-Address-Additional,
#BookingPayment-Screen-PaymentInformation-Area-City,
#BookingPayment-Screen-PaymentInformation-Area-State,
#BookingPayment-Screen-PaymentInformation-CreditCard-Status
{
  display: inline-block;
}

#BookingPayment-Screen-ContactInformation-Name-FirstName-Label,
#BookingPayment-Screen-ContactInformation-Name-LastName-Label,
#BookingPayment-Screen-ContactInformation-Contact-Email-Label,
#BookingPayment-Screen-ContactInformation-Contact-CellPhone-Label,
#BookingPayment-Screen-ContactInformation-Contact-AlternativePhone-Label,
#BookingPayment-Screen-PaymentInformation-Name-Label,
#BookingPayment-Screen-PaymentInformation-Address-Street-Label,
#BookingPayment-Screen-PaymentInformation-Address-Additional-Label,
#BookingPayment-Screen-PaymentInformation-Area-City-Label,
#BookingPayment-Screen-PaymentInformation-Area-State-Label,
#BookingPayment-Screen-PaymentInformation-CreditCard-Label
 {
  display: inline-block;
  margin-right: 20px;
}

#BookingPayment-Screen-ContactInformation-Name-FirstName-Input,
#BookingPayment-Screen-ContactInformation-Name-LastName-Input,
#BookingPayment-Screen-ContactInformation-Contact-Email-Input,
#BookingPayment-Screen-PaymentInformation-Name-Input,
#BookingPayment-Screen-PaymentInformation-Address-Street-Input,
#BookingPayment-Screen-PaymentInformation-Address-Additional-Input,
#BookingPayment-Screen-PaymentInformation-Area-City-Input,
#BookingPayment-Screen-PaymentInformation-CreditCard-Input
{
  display: inline-block;
  width: 300px;
  
  margin-right: 50px;
  margin-bottom: 5px;
}

#BookingPayment-Screen-ContactInformation-Name-LastName-Input {
  width: 350px;  
}

#BookingPayment-Screen-ContactInformation-Contact-Email-Input {
  width: 260px;
}

#BookingPayment-Screen-ContactInformation-Contact-CellPhone {
  width: 200px;
  margin-right: 50px;
}

#BookingPayment-Screen-PaymentInformation-Name-Input {
  width: 400px;
}

#BookingPayment-Screen-PaymentInformation-Address-Additional-Input {
  width: 280px;
}

#BookingPayment-Screen-PaymentInformation-Area-State-Input {
  width: 150px;
}

#BookingPayment-Screen-PaymentInformation {
  margin-top: 30px;
}

#BookingPayment-Screen-PaymentInformation-CreditCard {
  margin-top: 20px;
}

#BookingPayment-Screen-PaymentInformation-CreditCard-Input {
  display: inline-block;
  width: 400px;
  padding: 3px 3px 3px 5px;
  margin-right: 10px;
  
  border-radius: 5px;

  vertical-align: middle;

  background-color: white;
}

#BookingPayment-Screen-PaymentInformation-CreditCard-Status {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 20px;

  vertical-align: middle;
  color: red;
}

#BookingPayment-Screen-PaymentInformation-CreditCard-Note {
  margin-top: 10px;
  margin-left: 10px;

  font-size: 12px;
}


#BookingPayment-Screen-Description-ConfirmButton {
  background-image: none;
  padding-right: 20px;
}