input, select, .ui-widget {
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: azure;
  
  font: inherit;
}

.ui-widget {
  padding: 5px;
}

.phone-input {
  width: 15ch;
}

.screen-description {
  position: relative;
  width: calc(100% - 20px);
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  
  font-size: 25px;
  font-weight: bold;
  
  border-radius: 10px;
  
  background-color: #f7b742;
  color: yellow;  
}
.screen-description-back, .screen-description-next {
  position: absolute;
  display: inline-block;
  min-width: 50px;
  height: 30px;
  padding: 0px 20px 0px 20px;
  
  font-size: 20px;
  
  background-size: 30px;
  background-repeat: no-repeat;
  
  color: darkblue;
  background-color: transparent;
  
  border-style: groove;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightblue;
}
.screen-description-back {
  left: 20px;
  padding-left: 40px;
  background-position: left;
  text-align: right;
  background-image: url(../imgs/left-arrow.png);
}
.screen-description-next {
  right: 20px;
  padding-right: 40px;
  background-position: right;
  text-align: left;
  background-image: url(../imgs/right-arrow.png);
}
.screen-description-back:hover, .screen-description-next:hover {
  background-color: rgba(201, 222, 242, 0.5);
}
.screen-description-back:active, .screen-description-next:active {
  border-style: inset;
  background-color: rgb(201, 222, 242);
}
.screen-description-back:disabled, .screen-description-next:disabled {
  opacity: 0.5;
  background-color: transparent;
}


.screen-summary {
  height: 3em;
  margin-top: 30px;
  text-align: center;
  padding: 10px;

  font-family: Verdana;
  font-size: 25px;
  line-height: 35px;
  
  border-radius: 10px;
  
  background-color: #f7b742;
  color: #074b8c;
}


.info-box {
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  white-space: nowrap;
  overflow: hidden;
  
  border-radius: 10px;
  
  background-color: #f7b742;
  color: black;
}

.info-box-row {
  margin-top: 10px;
  padding-bottom: 2px;
  
  white-space: nowrap;
  overflow-x: hidden;

  
  border-bottom-style: groove;
  border-bottom-width: 1px;
  border-bottom-color: lightblue;
}


/*
.titled-box {
  font-size: 15px;
  margin-top: 20px;

  border-width: 2px;
  border-style: groove;
  padding: 10px;
}

.titled-box .title {
  display: inline-block;
  margin-left: 50px;
  margin-top: -45px;
  padding: 5px;
  vertical-align: middle;

  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;

  background-color: rgb(255, 234, 191);
}
*/

.standard-button {
  display: inline-block;
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  vertical-align: top;

  text-align: center;
  
  font:inherit;

  color: darkblue;
  background-color: transparent;
  
  border-style: groove;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightblue;
}
.standard-button:hover {
  background-color: rgba(201, 222, 242, 0.5);
}
.standard-button:active {
  border-style: inset;
  background-color: rgb(201, 222, 242);
}
.standard-button:disabled {
  opacity: 0.5;
  background-color: transparent;
}


.invalid {
  border-color: red;
}




.optionbox {
  display: inline-block;
  height: 240px;
  width: 270px;
  padding: 5px;

  vertical-align: top;
  
  text-align: left;

  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #dddddd;

  background: #eeeeee;
}
.optionbox-title {
  height: 39px;
  line-height: 39px;
  text-align: center;

  font-family: Trebuchet MS;
  font-weight: bold;
  font-size: 1.1em;

  border-width: 1px;
  border-style: solid;
  border-color: #e78f08;
  border-radius: 5px;

  color: white;
  background-color: #f6a828;
}
.optionbox-content {
  height: calc(100% - 20px - 45px);
  padding: 10px;
  
  overflow-y: auto;
}

.optionbox-option, .optionbox-nooption {
  padding: 2px 5px 2px 5px;
  line-height: 30px;

  font-family: Verdana;
  font-weight: bold;
  font-size: 1.1em;
  
  border-radius: 5px;

  color: #1c94c4;
}
.optionbox-option {
  cursor: pointer;
}
.optionbox-option.selected {
  color: #eb8f00;
}
.optionbox-option:hover {
  background-color: azure;
}

.optionbox-optiongroup-title {
  font-size: 1.5em;
  font-style: italic;
  color: #1c94c4;
}

.optionbox-optiongroup .optionbox-option,
.optionbox-optiongroup .optionbox-nooption {
  margin-left: 20px;
}

