input, select, .ui-widget {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: azure;
  
  font: inherit;
}

.phone-input {
  width: 15ch;
}

.screen-description {
  position: relative;
  width: calc(100% - 20px);
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  
  font-size: 25px;
  font-weight: bold;
  
  border-radius: 10px;
  
  background-color: #f7b742;
  color: yellow;  
}
.screen-description-back, .screen-description-next {
  position: absolute;
  display: inline-block;
  min-width: 50px;
  height: 30px;
  padding: 0px 20px 0px 20px;
  
  font-size: 20px;
  
  background-size: 30px;
  background-repeat: no-repeat;
  
  color: darkblue;
  background-color: transparent;
  
  border-style: groove;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightblue;
}
.screen-description-back {
  left: 20px;
  padding-left: 40px;
  background-position: left;
  text-align: right;
  background-image: url(../imgs/left-arrow.png);
}
.screen-description-next {
  right: 20px;
  padding-right: 40px;
  background-position: right;
  text-align: left;
  background-image: url(../imgs/right-arrow.png);
}
.screen-description-back:hover, .screen-description-next:hover {
  background-color: rgba(201, 222, 242, 0.5);
}
.screen-description-back:active, .screen-description-next:active {
  border-style: inset;
  background-color: rgb(201, 222, 242);
}
.screen-description-back:disabled, .screen-description-next:disabled {
  opacity: 0.5;
  background-color: transparent;
}


.screen-summary {
  height: 3em;
  margin-top: 30px;
  text-align: center;
  padding: 10px;

  font-family: Verdana;
  font-size: 25px;
  line-height: 35px;
  
  border-radius: 10px;
  
  background-color: #f7b742;
  color: #074b8c;
}


.info-box {
  margin-top: 20px;
  
  padding: 10px 30px 10px 30px;
  
  border-radius: 10px;
  
  background-color: #f7b742;
  color: black;
}

.info-box-row {
  white-space: nowrap;
  margin-top: 10px;
  
  padding-bottom: 2px;
  
  border-bottom-style: groove;
  border-bottom-width: 1px;
  border-bottom-color: lightblue;
}


/*
.titled-box {
  font-size: 15px;
  margin-top: 20px;

  border-width: 2px;
  border-style: groove;
  padding: 10px;
}

.titled-box .title {
  display: inline-block;
  margin-left: 50px;
  margin-top: -45px;
  padding: 5px;
  vertical-align: middle;

  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;

  background-color: rgb(255, 234, 191);
}
*/

.standard-button {
  display: inline-block;
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  vertical-align: top;

  font-size: 20px;

  text-align: center;

  background-color: rgb(65, 117, 22);
  color: white;
}
.standard-button:disabled {
  background-color: lightgray;
}

.standard-input {
  font: inherit;
}

.invalid {
  border-color: red;
}






