<link rel="stylesheet" href="screens/home.css">
<script src="screens/screen_utils.js"></script>

<!-- THIS IS A TEMPORARY -->
<div id="Home-Screen-NotProduction"><font style="color:red; font-size: 40px; text-decoration: underline;">Important Notice</font><p>This site is under construction and is currently not functional. Please do NOT make any reservations at this time.</div>
<!-- END OF TEMPORARY -->

<div id="Home-Screen-Welcome" class="screen-description">
  We are glad to see you here on the boat reservation web site!
  <br>
  You will definitely have a great time on one of our boats.
</div>
<div id="Home-Screen" class="screen">
  <div id="Home-Screen-Introduction">
    &nbsp;&nbsp; We are not just yet another place to rent a boat. We are much better, and this is what makes us unique. Unlike others, we will deliver the boat to one of the pick up locations of your choice. You don't have to drive to a marina, navigate thru its complex layout, deal with parking, etc. It is all much easier with us!
    <br>
    &nbsp;&nbsp; Another ultimate advantage is that our rental price includes fuel. You don't need to worry about paying extra money, and you don't need to waste your time getting gas. It is all on us! <b>Your rental price is the final price - no any hidden extra fees.</b>
    <br>
    &nbsp;&nbsp; Our pick up locations are public ramps around the lake. Those places that you likely used to come to. Just choose the one that you like most, and we will meet you there. It is super convenient.
    You will get the detailed instructions in email or a text message with the name of the boat that is your ride as well as all other details that you will need.
  </div>
  <img id="Home-Screen-BoatPicture" src="files/images/boat-picture.jpg">
  
  <div id="Home-Screen-Advantages">
    &nbsp;&nbsp; Do you know that most of the rental companies do not insure you, the renter? It is alarming and even scary, isn't it? 
    <br>
    Typically, when you rent a boat they have you sign a waiver that whatever unexpected should happen, it is all your responsibility.
    <br>
    That does not give you a piece of mind at all, right? You wouldn't drive a car without coverage, and driving a car is something you do every day. You are not driving a boat every day. Isn't it reasonable that your liability needs to be covered when you operate a boat?
    <br>
    We strongly believe so. <b>That's why we cover you!</b> When you rent with us, your liability is covered. And it is on us as well.
  </div>
  
  <img id="Home-Screen-TubingPicture" src="files/images/tubing-picture.jpg">
  <div id="Home-Screen-ThingsToDo">
    There are many things that you can do on the lake. You can just enjoy your time on the boat, you can swim in the nice clean warm lake, or you can even do water tubing!
    If you want to tube, we will also be happy to provide a tube for you.
    <br>
    <br>
    The rental price begins from $150. It depends on the boat you choose, duration of your trip and may also vary slightly depending on the pick up location you choose.
    <br>
    We are generally cheaper than other rental places. Besides, we charge less for additional equipment.
    <br>
    To find the exact rental cost please start <a href="#booking_boat">booking</a>. It will only take a couple of mouse clicks to find out the price for the ride you like.
    <br>
    <br>
    
    {{if .OwnerAccount}}
      Welcome back, {{.OwnerAccount.FirstName}}! You can proceed to your <a href="#owner_login">dashboard</a>. 
    {{else}}
      {{if .Reservation}}
        {{if eq .Reservation.OwnerAccountId ""}}
          Welcome back, {{.Reservation.FirstName}}! You seem to have a reservation with us, <a href="#reservation_update?id={{.Reservation.Id}}">{{.Reservation.Id}}</a>. 
          <br>
          Click on the reservation if you want to review or cancel it.
          <br>
          <br>
          You can also <a href="#booking_boat">book</a> another trip if you would like.
        {{else}}
        {{end}}
      {{else}}
      {{end}}
    {{end}}
  </div>
  
  <div id="Home-Screen-Reservation">
    {{if not .Reservation}}
      Making a reservation is easy. Click <a href="#booking_boat">Book Your Ride</a> to begin.
    {{end}}
  </div>
</div>
