<link rel="stylesheet" href="screens/home.css">
<script src="screens/screen_utils.js"></script>

<!-- THIS IS A TEMPORARY -->
<!--div id="Home-Screen-NotProduction"><font style="color:red; font-size: 40px; text-decoration: underline;">Important Notice</font><p>This site is only serving <b>designated friendly customers</b> presently.
  <br>
  Please do <b>NOT</b> make any reservations at this time unless you are a designated beta customer with us, and leave this page now.
  <br>
  If you place a reservation, <b>your card will be charged but you will NOT receive the service.</b>
</div-->
<!-- END OF TEMPORARY -->

<div id="Home-Screen-Welcome" class="screen-description">
  We are glad to see you here on the boat reservation web site!
  <br>
  You will definitely have a great time on one of our boats.
</div>
<div id="Home-Screen" class="screen">
  <div id="Home-Screen-Introduction">
    <div id="Home-Screen-Introduction-Header">
      <strong>&nbsp;&nbsp; If you want to spend a great day on a lake rding a boat - you came to the right place!</strong>
      <br>
      &nbsp;&nbsp; We are here to make it happen in the most convenient way.
    </div>
    <br>

    <img id="Home-Screen-BoatPicture" src="files/images/driving_a_boat1.jpg" align="right">
    
    &nbsp;&nbsp; We are not just yet another place to rent a boat. We are different a number of ways that you will appreciate.
    <br>
    &nbsp;&nbsp; Unlike other rental places, with us you can select the pick up / drop off location that works best for you.  You won't have to drive to a marina, navigate thru its complex layout, and find a parking spot that may not be that easy to get. This is not about us.
    <br>
    <br>
    &nbsp;&nbsp; We will bring the boat to you! Our pick up locations are public boat ramps and docks around the lake.  Most of these locations are within public parks, that you may have visited before. Just choose the one that you are most comfortable with, and we will meet you there. You will get the detailed instructions in email or a text message with the name of the rental boat as well as other details that you will need.
    <br>
    <br>
    &nbsp;&nbsp; Another ultimate advantage is that we do not charge for fuel at a ridiculous price. You do have an option to refuel the boat at any pump on the lake, but you don't have to spend your time and pay crazy premium. We will refuel the boat and  charge you for the actual gas usage at the rate close to what you see at any regular automotive gas station for ethanol-free gas. On average you will save more than a dollar per gallon.
  </div>
  
  <div id="Home-Screen-Advantages">
    <img id="Home-Screen-TubingPicture" src="files/images/tubing2.jpg" align="left">
    
    &nbsp;&nbsp; Rental prices begin at $250.  However, the final figure will depend on the boat you choose, the day of the week, and the duration of your rental.  
    <br>
    We are generally cheaper than other rental facilities. To find the exact rental cost please begin the <a href="#booking_boat">booking process</a>. It will only take a couple of mouse clicks to find out the price for the boat you like.
    If you are not comfortable driving a boat and need an introduction crash-course we will be happy to provide it to you at no extra cost. We will help you learn some basic boat handling skills before you can go off on your own.
  </div>
  
  <div id="Home-Screen-ThingsToDo">
    &nbsp;&nbsp; The lake is a great place to spend your weekend. There are many things that you can do on the lake. You can just enjoy your time on the boat, you can swim in the nice clean warm water, or you can even do water tubing!
    If you want to tube, we will also be happy to provide a tube for you.
    <br>
    <br>
    Those who like fishing are very welcome, too.
    <br>
    <br>
    
    {{if .OwnerAccount}}
      Welcome back, {{.OwnerAccount.FirstName}}! You can proceed to your <a href="#owner_login">dashboard</a>. 
    {{else}}
      {{if .Reservation}}
        {{if eq .Reservation.OwnerAccountId ""}}
          Welcome back, {{.Reservation.FirstName}}! You seem to have a reservation with us, <a href="#reservation_update?id={{.Reservation.Id}}">{{.Reservation.Id}}</a>. 
          <br>
          Click on the reservation if you want to review or cancel it.
          <br>
          <br>
          You can also <a href="#booking_boat">book</a> another trip if you would like.
        {{else}}
        {{end}}
      {{else}}
      {{end}}
    {{end}}
  </div>
  
  <div id="Home-Screen-Reservation">
    {{if not .Reservation}}
      Making a reservation is easy. Click <a href="#booking_boat">Book Your Ride</a> to begin.
    {{end}}
  </div>
</div>
