#Home-Screen {
  margin-top: 10px;
}

/*THIS IS TEMPORARY*/
#Home-Screen-NotProduction {
  position: fixed;
  width: 50%;
  left: 25%;
  top: 25%;
  padding: 20px 20px 20px 20px;
  
  text-align: center;
  font-size: 30px;
  
  color: blue;
  background: white;
  
  border-color: blue;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}
/*END OF TEMPORARY*/

#Home-Screen-Welcome {
  padding: 0px;
  margin-top: -5px;
}

#Home-Screen-Introduction {
  display: inline-block;
  width: calc(100% - 350px);
  margin-right: 40px;
  
  vertical-align: top;
}

#Home-Screen-Advantages {
  margin-top: 30px;
}

#Home-Screen-BoatPicture {
  display: inline-block;
  width: 300px;
  
  vertical-align: top;
}


#Home-Screen-TubingPicture {
  display: inline-block;
  width: 300px;
  margin-top: 30px;
  margin-right: 40px;
  
  vertical-align: top;
}

#Home-Screen-ThingsToDo {
  display: inline-block;
  width: calc(100% - 350px);
  margin-top: 20px;
  
  vertical-align: top;
}

#Home-Screen-Reservation {
  margin-top: 20px;
  text-align: center;
  
  font-size: 20px;  
}