#OwnerLogin-Screen-Login {
  position: relative;
}

#OwnerLogin-Screen-Login-Credentials {
  display: inline-block;
  
  vertical-align: middle;
}

#OwnerLogin-Screen-Login-Credentials-Username-Input,
#OwnerLogin-Screen-Login-Credentials-Password-Input {
  width: 200px;
}
#OwnerLogin-Screen-Login-Credentials-Password-Label {
  margin-top: 15px;
}

#OwnerLogin-Screen-Login-Status {
  display: inline-block;
  max-width: 300px;
  margin-left: 50px;

  vertical-align: middle;
  
  color: red;
}

#OwnerLogin-Screen-Login-ButtonPanel {
  margin-top: 20px;
  margin-left: 110px;
}

#OwnerLogin-Screen-Information {
  white-space: normal;
}

