#OwnerBooking-Screen {
  min-width: 1150px;
}

#OwnerBooking-Screen-Description-BookButton {
  background-image: none;
  padding-right: 20px;
}

#OwnerBooking-Screen-SelectionContainer {
  text-align: center;
}

#OwnerBooking-Screen-SelectionPanel {
  padding: 20px;
  white-space: nowrap;
}

#OwnerBooking-Screen-SelectionPanel-Boats {
  margin-right: 20px;
}

#OwnerBooking-Screen-SelectionPanel-Calendar {
  display: inline-block;
  margin-right: 20px;
}

#OwnerBooking-Screen-SelectionPanel-TimeFrame {
  margin-right: 20px;
}

#OwnerBooking-Screen-SelectionPanel-Duration {
  width: 150px;
}

#OwnerBooking-Screen-ReservationSummary {
  height: 1.5em;
}

#OwnerBooking-Screen-Agreement {
  margin-top: 10px;
  white-space: normal;
}

#OwnerBooking-Screen-Agreement-Link {
  font-size: 20px;
}
 
