#OwnerHome-Screen {
  min-width: 1050px;
}

#OwnerHome-Screen-AccountInfoContainer {
  text-align: center;
}

#OwnerHome-Screen-Description-LogoutButton {
  position: absolute;
  right: 20px;
  
  font-size: 15px;
}

#OwnerHome-Screen-AccountInfo {
  text-align: center;
}

#OwnerHome-Screen-AccountInfo-OwnerReservations, 
#OwnerHome-Screen-AccountInfo-BoatRentals,
#OwnerHome-Screen-AccountInfo-RentalInfo {
  height: 300px;
}

#OwnerHome-Screen-AccountInfo-OwnerReservations-Actions {
  height: 30px;
  padding: 5px 0px 5px 0px;
  
  text-align: right;
}
#OwnerHome-Screen-AccountInfo-OwnerReservations-Actions-BookButton {
}


#OwnerHome-Screen-AccountInfo-OwnerReservations-Bookings {
  height: calc(100% - 20px - 45px - 30px);
}

#OwnerHome-Screen-AccountInfo-BoatRentals {
  margin-left: 50px;
  margin-right: 50px;
}

#OwnerHome-Screen-AccountInfo-RentalInfo {
  width: 280px;
}

#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Date-Label,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Time-Label,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Duration-Label,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Location-Label,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Boat-Label,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Reservation-Label,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Income-Label {
  display: inline-block;
  
  width: 100px;
  margin-right: 50px;
}

#OwnerHome-Screen-Statistics-NumberOfRentals-Label,
#OwnerHome-Screen-Statistics-Earnings-Label {
  display: inline-block;
  
  width: 500px;
  margin-left: 50px;
}


#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Date-Value,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Time-Value,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Duration-Value,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Location-Value,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Boat-Value,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Reservation-Value,
#OwnerHome-Screen-AccountInfo-RentalInfo-Details-Income-Value,
#OwnerHome-Screen-Statistics-NumberOfRentals-Value,
#OwnerHome-Screen-Statistics-Earnings-Value {
  display: inline-block;
  
  font-weight: bold;
}
