#BookingBoat-Screen-SelectionContainer {
  text-align: center;
}

#BookingBoat-Screen-SelectionPanel {
  margin-top: 20px;
  padding: 20px;
  overflow: auto;
  white-space: nowrap;
}


#BookingBoat-Screen-SelectionPanel-BoatPictures-Title {
  position: relative;
}
#BookingBoat-Screen-SelectionPanel-BoatPictures-Title-PreviousButton,
#BookingBoat-Screen-SelectionPanel-BoatPictures-Title-NextButton {
  top: 5px;
  padding: 0px;
  min-width: 35px;
}
#BookingBoat-Screen-SelectionPanel-BoatPictures-Title-PreviousButton {
  left: 10px;
}
#BookingBoat-Screen-SelectionPanel-BoatPictures-Title-NextButton {
  right: 10px;
}
#BookingBoat-Screen-SelectionPanel-BoatPictures-Picture {
  width: 100%;
  height: 150px;
  margin-top: 5px;
}
#BookingBoat-Screen-SelectionPanel-BoatPictures-Note {
  height: 35px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  
  white-space: normal;
  overflow: hidden;
  
  font-size: 15px;
}



#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Name-Label,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Type-Label,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Capacity-Label,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Mileage-Label,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Engine-Label {
  display: inline-block;
  
  width: 100px;
  margin-right: 50px;
}

#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Name-Value,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Type-Value,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Capacity-Value,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Mileage-Value,
#BookingBoat-Screen-SelectionPanel-BoatDescription-Details-Engine-Value {
  display: inline-block;
  
  font-weight: bold;
}
