<link rel="stylesheet" href="screens/reservation_retrieval.css">
<script src="screens/reservation_retrieval.js"></script>
<script src="screens/screen_utils.js"></script>


<div class="screen-description">
  Retrieve your reservation
</div>
<form id="ReservationRetrieval-Screen" class="screen" action="javascript:ReservationRetrieval.retrieve();" onshow="ReservationRetrieval.onLoad()">
  {{if .Reservation }}
    {{if eq .Reservation.OwnerAccountId ""}}
      <div class="info-box">
        You have a reservation in our system. <a href="#reservation_update?id={{.Reservation.Id}}">{{.Reservation.Id}}</a>. Click on the reservation if you want to modify this one.
        <br>
        <br>
        If you want to locate a different reservation, please enter the confirmation number and the last name below.
      </div>
    {{end}}
  {{end}}
  
  <div id="ReservationRetrieval-Screen-Reservation" class="info-box">
    <div id="ReservationRetrieval-Screen-Reservation-Details">
      <div id="ReservationRetrieval-Screen-Reservation-Details-Id-Label">Confirmation Number:</div>
      <input type="text" id="ReservationRetrieval-Screen-Reservation-Details-Id-Input" class="input-field" required>
      <div id="ReservationRetrieval-Screen-Reservation-Details-LastName-Label">Last name on the reservation:</div>
      <input type="text" id="ReservationRetrieval-Screen-Reservation-Details-LastName-Input" class="input-field" required>
    </div>
    <div id="ReservationRetrieval-Screen-Reservation-StatusHolder">
      <div id="ReservationRetrieval-Screen-Reservation-Status">
        Failed to retieve reservation.<br>Please correct your confirmation number and/or last name, and try again.
        If you cannot retrieve your reservation, please give us a call.
      </div>
    </div>
    <div id="ReservationRetrieval-Screen-Reservation-ButtonPanel">
      <button id="ReservationRetrieval-Screen-Reservation-ButtonPanel-RestoreButton" class="standard-button">Retrieve</button>
    </div>
  </div>
</form>
