#ReservationRetrieval-Screen {
  padding: 10px;
  background-color: aqua;
}

#ReservationRetrieval-Screen-ReservationInfo {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;

}

#ReservationRetrieval-Screen-ReservationId {
  position: relative;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  
  padding: 10px;
  background-color: rgb(122, 151, 239);
}
#ReservationRetrieval-Screen-ReservationId-Number-Label {
  display: block;
  margin-left: 2px;
}
#ReservationRetrieval-Screen-ReservationId-Number-Input {
  display: block;
  width: 200px;
  margin-top: 5px;
}
#ReservationRetrieval-Screen-ReservationId-LastName-Label {
  display: block;
  margin-left: 2px;
  margin-top: 15px;
}
#ReservationRetrieval-Screen-ReservationId-LastName-Input {
  display: block;
  width: 200px;
  margin-top: 5px;
}

#ReservationRetrieval-Screen-ReservationId-Status {
  position: absolute;
  max-width: 300px;
  top: 30px;
  right: 20px;
  
  color: red;
}

#ReservationRetrieval-Screen-ReservationId-ButtonPanel {
  margin-top: 20px;
  text-align: center;
}

#ReservationRetrieval-Screen-ReservationId-ButtonPanel-RestoreButton {
}

