#ReservationUpdate-Screen-ReservationSummary-Location {
  margin-top: 10px;
}

#ReservationUpdate-Screen-ReservationSummary-Id-Title,
#ReservationUpdate-Screen-ReservationSummary-DateTime-Title,
#ReservationUpdate-Screen-ReservationSummary-Duration-Title,
#ReservationUpdate-Screen-ReservationSummary-Renter-Title,
#ReservationUpdate-Screen-ReservationSummary-Group-Title,
#ReservationUpdate-Screen-ReservationSummary-Boat-Title,
#ReservationUpdate-Screen-ReservationSummary-Extras-Title,
#ReservationUpdate-Screen-ReservationSummary-Price-Title {
  display: inline-block;
  width: 450px;
}
#ReservationUpdate-Screen-ReservationSummary-Id-Value,
#ReservationUpdate-Screen-ReservationSummary-DateTime-Value,
#ReservationUpdate-Screen-ReservationSummary-Duration-Value,
#ReservationUpdate-Screen-ReservationSummary-Renter-Value,
#ReservationUpdate-Screen-ReservationSummary-Group-Value,
#ReservationUpdate-Screen-ReservationSummary-Boat-Value,
#ReservationUpdate-Screen-ReservationSummary-Extras-Value,
#ReservationUpdate-Screen-ReservationSummary-Price-Value {
  display: inline-block;
  width: 200px;

  font-weight: bold;
}

#ReservationUpdate-Screen-ReservationSummary-Location-Details-PlaceName-Title,
#ReservationUpdate-Screen-ReservationSummary-Location-Details-PlaceAddress-Title,
#ReservationUpdate-Screen-ReservationSummary-Location-Details-ParkingFee-Title,
#ReservationUpdate-Screen-ReservationSummary-Location-Details-PickupInstructions-Title
{
  display: inline-block;
  width: 430px;
  margin-left: 20px;
}
#ReservationUpdate-Screen-ReservationSummary-Location-Details-PlaceName-Value,
#ReservationUpdate-Screen-ReservationSummary-Location-Details-PlaceAddress-Value,
#ReservationUpdate-Screen-ReservationSummary-Location-Details-ParkingFee-Value,
#ReservationUpdate-Screen-ReservationSummary-Location-Details-PickupInstructions-Value {
  display: inline-block;
  width: 300px;

  font-weight: bold;
}


#ReservationUpdate-Screen-ReservationSummary-Email {
  margin-top: 30px;
}
#ReservationUpdate-Screen-ReservationSummary-Email-Description {
  margin-bottom: 5px;
}
#ReservationUpdate-Screen-ReservationSummary-Email-Label {
  display: inline-block;
  margin-right: 20px;
  
  font-weight: bold;
  
  vertical-align: middle;
}
#ReservationUpdate-Screen-ReservationSummary-Email-Input {
  width: 400px;
  margin-right: 30px;
  
  vertical-align: middle;
}
#ReservationUpdate-Screen-ReservationSummary-Email-SendButton {
  margin-bottom: 5px;
  vertical-align: middle;
}

#ReservationUpdate-Screen-SafetyTest {
  white-space: normal;
}

#ReservationUpdate-Screen-SafetyTest-Note {
  margin-bottom: 5px;
  color: red;
}

#ReservationUpdate-Screen-SafetyTest-Link {
  font-size: 20px; 
}

#ReservationUpdate-Screen-ButtonsPanel {
  margin-top: 20px;
  text-align: center;
}
