#ReservationRetrieval-Screen-Reservation {
  position: relative;
}

#ReservationRetrieval-Screen-Reservation-Details {
  display: inline-block;
}

#ReservationRetrieval-Screen-Reservation-Details-Id-Input {
  width: 200px;
}
#ReservationRetrieval-Screen-Reservation-Details-LastName-Label {
  margin-top: 15px;
}
#ReservationRetrieval-Screen-Reservation-Details-LastName-Input {
  width: 200px;
}

#ReservationRetrieval-Screen-Reservation-StatusHolder {
  display: inline-block;
  margin-left: 50px;
  
  max-width: 300px;
}
#ReservationRetrieval-Screen-Reservation-Status {
  color: red;
}

#ReservationRetrieval-Screen-Reservation-ButtonPanel {
  margin-top: 20px;
  text-align: center;
}
