#SafetyTest-Screen-SafetyTestPanel-Info-Total,
#SafetyTest-Screen-SafetyTestPanel-Info-Correct {
  display: inline-block;
}

#SafetyTest-Screen-SafetyTestPanel-SubmitButton {
  margin-top: 20px;
}

#SafetyTest-Screen-TestPassed-Score, #SafetyTest-Screen-TestFailed-Score {
  white-space: normal;
  font-size: 20px;
}

#SafetyTest-Screen-TestPassed-Email {
  margin-top: 30px;
}
#SafetyTest-Screen-TestPassed-Email-Description {
  margin-bottom: 5px;
}
#SafetyTest-Screen-TestPassed-Email-Label {
  display: inline-block;
  margin-right: 20px;
  
  font-weight: bold;
  
  vertical-align: middle;
}
#SafetyTest-Screen-TestPassed-Email-Input {
  width: 400px;
  margin-right: 30px;
  
  vertical-align: middle;
}
#SafetyTest-Screen-TestPassed-Email-SendButton {
  margin-bottom: 5px;
  vertical-align: middle;
}

#SafetyTest-Screen-TestFailed-RetakeButton {
  margin-top: 20px;
}

.test {
  margin-top: 10px;
}
.test-icon {
  display: inline-block;
  margin-right: 10px;
  margin-top: -3px;
  vertical-align: middle;
  
  width: 10px;
  height: 10px;
  
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.test-icon.completed {
  background-color: green;
}
.test-description {
  display: inline-block;
  vertical-align: middle;
  
  font-size: 18px;
}

.test-options {
  margin-left: 30px;
}

.test-option-hor {
  display: inline-block;
}
.test-option-ver {
}

.test-option-label {
  margin-right: 20px;
  margin-left: 5px;
  font-size: 15px;
}

