{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Reservation Cancelled - <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a></h1></center>
      <br>
      <div style='font-size: 15px;'>
        Reservation confirmation number is: <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a>.
        <br>
        Refunded amount: ${{printf "%.2f" .Reservation.RefundAmount}}.
        <br>
        Original Deposit: ${{printf "%.2f" .Reservation.PaymentAmount}}.
      </div>

{{template "email_footer"}}
