{{define "email_header"}}
<html>
  <body style='width: 100%; background-color: rgb(255, 234, 191);'>
    <div style='margin: 10px;'>
{{end}}

{{define "email_footer"}}
      <div style='margin-top: 20px; font-style: italic; font-size: 15px; color: rgb(54, 84, 132);'>
        Best Regards,
        <br>
        PizBoats Team
      </div>
    </div>
    <div style='margin-top: 20px; padding: 10px; text-align: center; font-size: 15px; background-color: rgb(54, 84, 132); color: white;'>
      PizTec Corporation, 2017.&nbsp;&nbsp;&nbsp;All Rights Reserved.
    </div>
  </body>
</html>
{{end}}

