{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>The Rental Of Your Boat Was Cancelled ({{.Reservation.Id}})</h1></center>
      <br>
      Rental of <b>{{.Boat.Name}}</b> on <b>{{call .FormatDateTime .Reservation.Slot.DateTime}}</b> for <b>{{.Reservation.Slot.Duration}} hours</b> was cancelled.
      <br>
      <br>
      Please contact us at <a href='mailto:{{.GeneralParams.ReservationEmail}}' target='_top'>{{.GeneralParams.ReservationEmail}}</a> if you have any questions.
      <br>
      <br>

{{template "email_footer"}}
