{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Booking Confirmation - {{.Reservation.Id}}</h1></center>
      <br>
      <div style='font-size: 15px;'>
        You booked your boat for personal use.
        <br>
        Your reservation confirmation number is: {{.Reservation.Id}}.
      </div>
      <br>
      Your Personal Boat Use Begins At: <b>{{call .FormatDateTime .Reservation.Slot.DateTime}}</b>.
      <br>
      Boat Name: <b>{{.Boat.Name}}</b>
      <br>
      <br>   
      Please contact us at <a href='mailto:{{.GeneralParams.ReservationEmail}}' target='_top'>{{.GeneralParams.ReservationEmail}}</a> if you have any questions.
      <br>
      <br>      

{{template "email_footer"}}
