{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Booking Confirmation - {{.Reservation.Id}}</h1></center>
      <br>
      <div style='font-size: 15px;'>
        You booked your boat for personal use.
        <br>
        Your reservation confirmation number is: {{.Reservation.Id}}.
      </div>
      <br>
      The ride is on: <b>{{call .FormatDateTime .Reservation.Slot.DateTime}}</b>.
      <br>
      Boat name: <b>{{.Boat.Name}}</b>
      <br>
      <br>
      Please take a moment to review <a href='{{.WebReference}}/files/docs/personal_boat_usage_policies.html'>Personal usage policy</a>

{{template "email_footer"}}
