{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Your Boat Was Reserved For Rental</h1></center>
      <br>
      Rental Confirmation Number: <b>{{.Reservation.Id}}</b>.
      <br>
      <br>
      Your boat <b>{{.Boat.Name}}</b> was booked for a rental.
      <br>
      The Rental Begins At: <b>{{call .FormatDateTime .Reservation.Slot.DateTime}}</b>.
      <br>
      Rental Duration: <b>{{.Reservation.Slot.Duration}} hours</b>.
      <br>
      <br>
      Please contact us at <a href='mailto:{{.GeneralParams.ReservationEmail}}' target='_top'>{{.GeneralParams.ReservationEmail}}</a> if you have any questions.
      <br>
      <br>

{{template "email_footer"}}
