{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Rental Reservation Cancelled - {{.Reservation.Id}}</h1></center>
      <br>
      Your reservation {{.Reservation.Id}} to use your personal boat <b>{{.Boat.Name}}</b> on <b>{{call .FormatDateTime .Reservation.Slot.DateTime}}</b> was cancelled.
      <br>
      <br>
      Please contact us at <a href='mailto:{{.GeneralParams.ReservationEmail}}' target='_top'>{{.GeneralParams.ReservationEmail}}</a> if you have any questions.
      <br>
      <br>

{{template "email_footer"}}
