{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Security Deposit Refund - {{.Reservation.Id}}</h1></center>
      <br>
      <div style='font-size: 15px;'>
        A fuel charge in the amount of ${{printf "%.2f" .Reservation.FuelCharge}} was applied to your card used to pay the deposit.
        <br>
        The remaining part of your security deposit was released and should appear on your credit card within 5 days.
        <br>
        Just FYI - the originally pre-authorized amount for the deposit was ${{printf "%.2f" .Reservation.DepositAmount}}.
      </div>
      <br>
      Please contact us at <a href='mailto:{{.GeneralParams.ReservationEmail}}' target='_top'>{{.GeneralParams.ReservationEmail}}</a> if you have any questions.
      <br>
      <br>
      With this transaction, your boat rental is complete. We hope you enjoyed it, and we would be happy to see you again.
      <br>
      If you have any comments or suggestions about the boat you rented, please contact us at <a href='mailto:{{.GeneralParams.SupportEmail}}' target='_top'>{{.GeneralParams.SupportEmail}}</a> 

{{template "email_footer"}}
