{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Security Deposit Refund - {{.Reservation.Id}}</h1></center>
      <br>
      <div style='font-size: 15px;'>
        Your security deposit of ${{.Reservation.DepositAmount}} has been refunded and should appear on your credit card in about 5 days.  
      </div>
      <br>
      Please contact us at <a href='mailto:reservations@pizboats.com' target='_top'>reservations@pizboats.com</a> if you have any questions.
      <br>
      <br>
      With this transaction, your boat rental is complete. We hope you enjoyed it, and we would be happy to see you again.
      <br>
      If you have any comments or suggestions about the boat you rented, please contact us at <a href='mailto:support@piztec.com' target='_top'>support@piztec.com</a> 

{{template "email_footer"}}
