{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Your boat ride is coming!</h1></center>
      <br>
      <div style='font-size: 15px;'>
        Your reservation confirmation number is <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a>.
      </div>
      <br>
      Your rental begins on <b>{{.ReservationDateTime}}</b>.
      <br>
      Boat name: <b>{{.Boat.Name}}</b>
      <br>
      <br>
      Pickup location: <b>{{.PickupLocation.Name}}</b> ({{.PickupLocation.Address}})
      <br>
      Parking fee: <b>{{.PickupLocation.ParkingFee}}</b>
      <br>
      Special instructions: <b>{{.PickupLocation.Instructions}}</b>
      <br>
      <br>
      We hope to see you soon!

      {{if not .SafetyTestResult}}
        Our records indicate that you have not yet completed the required safety test.  Please complete the test before your rental begins, otherwise you will have to complete the test before you can take the boat. If you have plan on having multiple drivers, each person will have to complete the test.
        <br>
        Use this <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=safety_tips'>Safety Test</a> link.
      {{end}}

{{template "email_footer"}}
