{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Deposit Payment Confirmation - <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a></h1></center>
      <br>
      <div style='font-size: 15px;'>
        Your security deposit of ${{printf "%.2f" .Reservation.DepositAmount}} has been accepted.
      </div>
      <br>
      Your deposit will be refunded when your trip is complete, and after our staff completes the final boat inspection.
      <br>
      <br>
      Please contact us at <a href='mailto:{{.GeneralParams.ReservationEmail}}' target='_top'>{{.GeneralParams.ReservationEmail}}</a> if you have any questions or need any help.
      <br>
      <br>
      If this transaction was initiated without your explicit consent, please contact us immediately.

{{template "email_footer"}}
