{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Your boat ride is coming!</h1></center>
      <br>
      <div style='font-size: 15px;'>
        Your reservation confirmation number is: <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a>.
      </div>
      <br>
      Your rental will begin on: <b>{{.ReservationDateTime}}</b>.
      <br>
      Boat name: <b>{{.Boat.Name}}</b>
      <br>
      <br>
      Pickup location: <b>{{.PickupLocation.Name}}</b> ({{.PickupLocation.Address}}) - <a href='https://www.google.com/maps?q={{.PickupLocation.Location.Latitude}},{{.PickupLocation.Location.Longitude}}&ll={{.PickupLocation.Location.Latitude}},{{.PickupLocation.Location.Longitude}}&z={{.PickupLocation.Location.Zoom}}&t=k'>{{.PickupLocation.Location.Latitude}},{{.PickupLocation.Location.Longitude}}</a>
      <br>
      Parking fee: <b>{{.PickupLocation.ParkingFee}}</b>
      <br>
      Special instructions: <b>{{.PickupLocation.Instructions}}</b>
      <br>
      <br>
      We hope to see you soon!

      {{if not .SafetyTestResult}}
        Our records indicate that you still have not completed the required safety test.  This test is mandatory in order to legally operate a motor boat in Georgia. 
        Please take the test before your rental begins.  If you plan on having multiple drivers, each of them have to complete the test.
        <br>
        Use this <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=safety_tips'>Safety Test</a> link.
      {{end}}

{{template "email_footer"}}
