{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Your Boat Rental Is About To Begin!</h1></center>
      <br>
      <div style='font-size: 15px;'>
        Your Reservation Confirmation Number Is: <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a>.
      </div>
      <br>
      Your Rental Begins At: <b>{{call .FormatDateTime .Reservation.Slot.DateTime}}</b>.
      <br>
      Boat Name: <b>{{.Boat.Name}}</b>
      <br>
      <br>
      Pickup Location: <b>{{.PickupLocation.Name}}</b> ({{.PickupLocation.Address}}) - <a href='https://www.google.com/maps?q={{.PickupLocation.Location.Latitude}},{{.PickupLocation.Location.Longitude}}&ll={{.PickupLocation.Location.Latitude}},{{.PickupLocation.Location.Longitude}}&z={{.PickupLocation.Location.Zoom}}&t=k'>{{.PickupLocation.Location.Latitude}},{{.PickupLocation.Location.Longitude}}</a>
      <br>
      Parking Fee: <b>{{.PickupLocation.ParkingFee}}</b>
      <br>
      Special Instructions: <b>{{.PickupLocation.Instructions}}</b>
      <br>
      <br>
      We hope to see you soon!

      {{if eq (len .SafetyTestResults) 0}}
        Our records indicate that you have not yet completed the required boating safety test. Please complete the test before your rental begins, otherwise you will have to complete the test the day of the rental (and before you can take the boat). If you have plan on having multiple boat operators, each person will have to complete the test.
      {{else}}
        Our records indicate that you have operators on this reservation that passed the required boating safety test. No futher action regarding the boating safety test is required from you.
        <br>
        <br>
        You can still review safety tips, retake the test, or add more operators by following the link below.
      {{end}}
      <br>
      <br>
      Use this <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=safety_tips'>Safety Test</a> link to review safety tips and take the test.

{{template "email_footer"}}
