{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Security Deposit Release - {{.Reservation.Id}}</h1></center>
      <br>
      <div style='font-size: 15px;'>
        Your security deposit in the amount of ${{.Reservation.DepositAmount}} dollars is issued and should appear on your original payment method in about 5 business days.
      </div>
      <br>
      Please contact us at <a href='mailto:reservations@pizboats.com' target='_top'>reservations@pizboats.com</a> if you have any questions or need any help.
      <br>
      <br>
      With this transaction, your boat ride is complete. We hoped you enjoyed it, and be happy to see you again.
      <br>
      If you have any suggestions that you would like us to review please contact us at <a href='mailto:support@piztec.com' target='_top'>support@piztec.com</a> if you have any questions or need any help.

{{template "email_footer"}}
