{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Booking Confirmation - <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a></h1></center>
      <br>
      <div style='font-size: 15px;'>
        Your reservation confirmation number is <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a>.
        <br>
        You paid: ${{.Reservation.PaymentAmount}}.
      </div>
      <br>
      Your rental begins on: <b>{{.ReservationDateTime}}</b>.
      <br>
      Boat name: <b>{{.Boat.Name}}</b>
      <br>
      <br>
      Pickup location: <b>{{.PickupLocation.Name}}</b> ({{.PickupLocation.Address}})
      <br>
      Parking fee: <b>{{.PickupLocation.ParkingFee}}</b>
      <br>
      Special instructions: <b>{{.PickupLocation.Instructions}}</b>
      <br>
      <br>

      {{if .SafetyTestResult}}
        Our records indicate that you have completed the required safety test. 
      {{else}}
        Our records indicate that you have not yet completed/passed the required safety test.  This test is mandatory in order to be able to legally operate a motor boat in Georgia. Please take the test before your rental begins, otherwise you will have to complete the test on the day of the rental.  If you plan on having multiple drivers, each of person will have to complete the test.

        <br>
        Use this <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=safety_tips'>Safety Test</a> link.
      {{end}}

      <br>
      <br>
      In order to speed up the checkout process, you might want to fill out waivers in advance and bring them with you.
      Please use this <a href='{{.WebReference}}/files/docs/waivers.docx' download>link</a> to get the forms.
      <br>
      <br>
      Please also take a minute to review <a href='{{.WebReference}}/files/docs/rental-agreement.html'>Rental's agreement</a>.
      <br>
      <br>
      IMPORTANT: We will need to take a damage security deposit in the amount of <b>${{.Boat.Deposit}}</b>.  Your credit card must have sufficient funds to secure this amount. The deposit will be refunded upon successful completion of your rental.
      <br>
      <br>
      Please contact us at <a href='mailto:{{.GeneralParams.ReservationEmail}}?Subject=Inquery regarding reservation {{.Reservation.Id}}' target='_top'>{{.GeneralParams.ReservationEmail}}</a> if you need any help.
      <br>
      We look forward to seeing you soon!

{{template "email_footer"}}
