{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Boating Safety Test Confirmation</h1></center>
      <br>
      <div style='font-size: 15px;'>
        Boater Safety Test confirmation for reservation: <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a>.
      </div>
      <br>

      {{$completedDlId := index .Extras "dlId"}}
      {{if $completedDlId}}
        {{$testResult := index .SafetyTestResults $completedDlId}}
        {{if $testResult}}
          Hello, {{$testResult.FirstName}} {{$testResult.LastName}}. Thank you for completing Boating Safety Test.
          <br>
          Our records indicate that you passed with a score of: {{$testResult.Score}}%.
          <br>
          <br>
          Please print the below card and take it with you as a proof of passing the mandatory Boater Safety Course.
          <br>
          <br>
          <hr>
          <br>
          <center>
          <div style="border-width: 2px; border-color: black; border-style: solid; border-radius: 10px; display:inline-block; padding: 10px;">
            <div style="text-align: center; font-size: 25px; text-decoration: underline; font-weight:bold;">Boating Safety Test Certificate</div>
            <br>
            <div style="font-size: 22px; text-align:left; margin-left: 10px;">Issued To: {{$testResult.FirstName}} {{$testResult.LastName}}  (DL {{$testResult.DLState}} #{{$testResult.DLNumber}})
            <br>
            Succesfully Completed the Boating Safety Course On: {{call .FormatDateTime $testResult.PassDate}}.</div>
            <div style="font-size: 20px; text-align:left; margin-left: 10px;">Your Score: {{$testResult.Score}}%.</div>
            <br>
            <div style="font-size: 20px; text-align:left; margin-left: 10px;">This Certificate is Valid Through: {{call .FormatDateTime $testResult.ExpirationDate}}.</div>
            <br>
            <div style="text-align: right; margin-right: 10px; font-size: 22px;">{{$testResult.FirstName}} {{$testResult.LastName}}  ______________________  (sign)</div>
          </div>
          </center>  
          <br>
          <hr>
        {{else}}
          <br>
          Something is not quite right... We are unable to locate your boater safety test record. You may want to try to complete it again.
          <br>
          <br>
          If the issue persists, please contact Customer Support.
        {{end}}
      {{else}}
        <br>
        <br>
        Something is not quite right... We cannot locate your boater safety test record.
        <br>
        You may want to open your reservation <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a> and request an email with your certification records.
        <br>
        <br>
        Please contact us at <a href='mailto:{{.GeneralParams.ReservationEmail}}' target='_top'>{{.GeneralParams.ReservationEmail}}</a> if you have any questions.
        <br>
        <br>
      {{end}}

{{template "email_footer"}}
