{{template "email_header"}}

      <center><h1 style='padding-top: 10px;'>Safety Test Status</h1></center>
      <br>
      <div style='font-size: 15px;'>
        Boater Safety Test status for reservation <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=reservation_update'>{{.Reservation.Id}}</a>.
      </div>
      <br>

      {{if eq (len .SafetyTestResults) 0}}
        Our records indicate that no one on this reservation has a valid (unexpired) Safety Test.
        <br>
        Completion of the safety test is required in order to operate a motor boat.
        <br>
        Please use this <a href='{{.WebReference}}/main.html#reservation_retrieval?id={{.Reservation.Id}}&name={{.Reservation.LastName}}&action=safety_tips'>Safety Test</a> link to take the course and complete the required certification.
      {{else}}
        Our records indicate that the following drivers completed required certification and can operate a motor boat.
        <br>
        Please print the below card and take it on board as a proof of passing the mandatory safety training.
        <br>
        <br>
        <hr>
        <br>
        <center>
        {{range $_, $testResult := .SafetyTestResults}}
          <div style="border-width: 2px; border-color: black; border-style: solid; border-radius: 10px; display:inline-block; padding: 10px;">
            <div style="text-align: center; font-size: 25px; text-decoration: underline; font-weight:bold;">Boater Safety Test Certificate</div>
            <br>
            <div style="font-size: 22px; text-align:left;">Issued to {{$testResult.FirstName}} {{$testResult.LastName}}  (DL {{$testResult.DLState}} #{{$testResult.DLNumber}})
            <br>
            As a proof of passing the Boater Safety Test on {{call $.FormatDateTime $testResult.PassDate}}.</div>
            <div style="font-size: 20px; text-align:left;">The scored result is {{$testResult.Score}}%.</div>
            <br>
            <div style="font-size: 20px; text-align:left;">The certificate is valid thru {{call $.FormatDateTime $testResult.ExpirationDate}}.</div>
            <br>
            <div style="text-align: right; font-size: 22px;">{{$testResult.FirstName}} {{$testResult.LastName}}  ______________  (sign)</div>
          </div>
          <br>
          <hr>
          <br>
        {{end}}
        </center>
      {{end}}

{{template "email_footer"}}
