#Main-Header {
  display: block;
  height: 115px;
  padding-top: 15px;
  
  min-width: 1100px;
  
  text-align: center;
  white-space: nowrap;

  background-color: #ea8a38;
}

#Main-Header-Title {
  height: 70px;
  overflow: hidden;
}
#Main-Header-Title-Summary {
  font-size: 40px;
  
  color: #fff97a;
  text-shadow: 2px 2px #ff0404;
}
#Main-Header-Title-Sub {
  margin-left: 300px;
  
  font-size: 18px;
  font-family: serif;
  font-style: italic;
  
  color: #c14313;
  text-shadow: 1px 1px #000000;
}

#Main-Header-Menu {
  margin-top: 5px;
  height: 40px;

  overflow: hidden;
  text-align: center;

  background-color: #8c3308;
}

.main-menu-item {
  display: inline-block;
  padding: 5px 0px 10px 0px;
  width: 200px;
  height: 22px;

  cursor: pointer;

  font-size: 20px;
  
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #8c3308;
  
  color: #f8fdff;
}
.main-menu-item:hover {
  background-color: #ab4f23;
  border-top-color: #ab4f23;
}
.main-menu-item:active {
  border-top-color: #bd4004;
  background-color: #bd4004;
  color: #ffffff;
}
.main-menu-item.selected {
  font-weight: bold;
  
  color: #8c3308;
  background-color: #fffed7;
}

#Main-ScreenHeader {
  height: 50px;
  padding: 10px;
  
  min-width: 1080px;
  
  background-color: #f5d989;
}

#Main-ScreenContainer {
  position: relative;
  padding: 10px;

  height: -webkit-calc(100% - 130px - 40px - 20px - 70px);
  height: calc(100% - 130px - 40px - 20px - 70px);
  
  min-width: 1080px;

  overflow-y: auto;
}

#Main-Footer {
  position: fixed;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 20px;
  padding: 10px;
  
  white-space: nowrap;

  text-align: center;

  background-color: #365484;
  color: white;
}



#Main-Popup {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  
  background-color: #64646480;
}
#Main-Popup-Frame {
  position: absolute;
  width: 30%;
  top: 40%;
  left: 35%;

  padding: 10px;
  text-align: center;
  overflow-x: hidden;
  
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;

  color: #fffed7;
  background-color: #646464A0;
}
#Main-Popup-Frame-Spinner {
  height: 30px;
  background-image: url(imgs/progress-indicator.gif);
  background-repeat: no-repeat;
  background-position: center;
}
#Main-Popup-Frame-Title {
  font-size: 24px;  
  white-space: nowrap;
}
#Main-Popup-Frame-Details {
  font-size: 20px;
}


#Main-Dialog {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  
  background-color: #64646480;
}

#Main-Dialog-Frame {
}
#Main-Dialog-Frame-Title {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 25%;
  
  text-align: center;
  height: 26px;
  font-size: 20px;
  
  border-style: ridge;
  border-bottom: solid 1px black;
  
  background-color: rgb(122, 151, 239);
  color: white;
}
#Main-Dialog-Frame-Content {
  position: absolute;
  width: calc(50% - 20px);
  top: calc(10% + 29px);
  left: 25%;
  max-height: 70%;
  
  padding: 10px;
  overflow-y: scroll;
  
  background-color: azure;
  
  border-style: ridge;
  border-top: none;
}
#Main-Dialog-Frame-Content-Message {
  font-size: 18px;
}
#Main-Dialog-Frame-Content-Buttons {
  margin-top: 20px;
  margin-bottom: 10px;
  
  text-align: center;
}
#Main-Dialog-Frame-Content-Buttons-1,
#Main-Dialog-Frame-Contant-Buttons-2,
#Main-Dialog-Frame-Content-Buttons-3 {
  margin-right: 20px;
  
  font-size: 15px;
  
  background-color: #f1ffff;
}
#Main-Dialog-Frame-Content-Buttons-OK:active,
#Main-Dialog-Frame-Content-Buttons-Cancel:active {
  background-color: #c5f9f9;
}


#Main-RecycleBin {
  display: none;
}
